<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/vue-toast-notification@0.6"></script>
<link href="https://cdn.jsdelivr.net/npm/vue-toast-notification/@0.6/dist/theme-sugar.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
<link rel="shortcut icon" href="../favicon.ico"/>
<title>Setores - Início</title>
<link rel="stylesheet" type="text/css"
	href="../resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="../resources/css/index.css">
<link rel="stylesheet" type="text/css"
	href="../resources/css/bootstrap-vue.css">
</head>

<body>
		<div id="mudar">
    <v-app-bar
	  color="#FFFFFF"
    >

	 <v-img
	 max-height="150px"
	 max-width="200px"
	 src="logoHepta.png"
   ></v-img>



      <v-spacer>
	  </v-spacer>

	  <div rigth>
		<v-tabs v-model="linkMenu" right background-color="#FFFFFF">
			<v-tab href="/funcionarios/index.html">Funcionários</v-tab>
			<v-tab href="novo-setor.html">Setor</v-tab>
		</v-tabs>
	</div>

    </v-app-bar>
	
		</div>

	</div>
	<div style="background-color: rgb(228, 228, 228); padding: 30px;">
	<div id="inicioSetor" >
		<v-app id="inspire" >
		  <v-data-table
			:headers="cabecalho"
			:items="listaSetor"
			sort-by="nome"
			class="elevation-1"
			:footer-props="{
				itemsPerPageText: 'Itens por página',
				'items-per-page-all-text': 'Todos',
			  }"
		  >
		
			<template v-slot:top>
			  <v-toolbar
				flat
			  ><v-spacer></v-spacer>
			 
				<v-toolbar-title>Lista de Setores</v-toolbar-title>

				<v-spacer></v-spacer>
				<v-dialog
				  v-model="dialogo"
				  max-width="800px"
				>
				  <template v-slot:activator="{ on, attrs }">
					<v-btn
					  color="primary"
					  dark
					  class="mb-2"
					  v-bind="attrs"
					  v-on="on"
					>
					  Cadastrar Setor
					</v-btn>
				  </template>
				  <v-card>
					<v-card-title style="color:#ffffff; background-color:#286090;" >
					  <span class="text-h5">{{ formTitle }}</span>
					</v-card-title>
		
					<v-card-text>
					  <v-container>
						<v-row>
						  <v-col
							cols="12"
							sm="12"
							md="12"
						  >
							<v-text-field
							  v-model="itemEditado.nome"
							  label="Nome"
							></v-text-field>
						  </v-col>
						</v-row>
					  </v-container>
					</v-card-text>
		
					<v-card-actions>
					  <v-spacer></v-spacer>
					  <v-btn
					 depressed
					 style="background-color:#f32222de; color:#ffffff;"
					  elevation="10"
					  text
						@click="fechar"
					  >
						Cancelar
					  </v-btn>
					  <v-btn
					  style="background-color:#2abe37; color:#ffffff;"
					  elevation="10"
						text
						@click="salvar"
					  >
						Salvar
					  </v-btn>
					</v-card-actions>
					
				  </v-card>
				</v-dialog>
				<v-dialog v-model="dialogoDeletar"  max-width="600px">
				  <v-card>
					<v-card-title class="text-h5">Tem certeza que deseja excluir o setor <br/> {{itemEditado.nome}}?</v-card-title>
					<v-card-actions>
					  <v-spacer></v-spacer>
					  <v-btn  depressed
					  style="background-color:#f32222de; color:#ffffff;"
					   elevation="10"
						 text @click="fecharDialogoDeletar">Cancelar</v-btn>
					  <v-btn  style="background-color:#2abe37; color:#ffffff;"
					  elevation="10"
						text @click="confirmarDelecaoItem">Confirmar</v-btn>
					  <v-spacer></v-spacer>
					</v-card-actions>
				  </v-card>
				</v-dialog>
			  </v-toolbar>
			
			</template>
		
			<template v-slot:item.actions="{ item }">
			  <v-icon
				small
				class="mr-2"
				@click="editarItem(item)"
			  >
				mdi-pencil
			  </v-icon>
			  <v-icon
				small
				@click="deletarItem(item)"
			  >
				mdi-delete
			  </v-icon>
			</template>
		  </v-data-table>
		</v-app>
	  </div>
	</div>




		
	
	<script src="../resources/js/vue.js"></script>
	<script src="../resources/js/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
	<script src="../resources/js/setor.js"></script>

  <script>
  new Vue({
  el: '#mudar',
  vuetify: new Vuetify(),
  data() {
  return {
    linkMenu:"novo-setor.html"
  };
},

})
  </script>
</body>
</html>